.dashboard-container {
  margin: auto;
  width: calc(100% - 40px);
  min-height: 80vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.dashboard-container--header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  border-bottom: 2px solid black;
}

.dashboard-container--header h1 {
  margin: 0;
}

.dashboard-container--layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.dashboard-container--layout-left {
  width: 25%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;

  font-size: 24px;
}

.dashboard-container--layout-right {
  width: 75%;
  padding: 16px;
}

.dashboard-title {
  padding: 16px;
}

.dashboard-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.dashboard-menu-item {
  padding: 0 16px;
  cursor: pointer;
  width: 100%;
}

.dashboard-menu-item.selected {
  background-color: darkgray;
}
